@charset "utf-8";

main {
  margin: 0;
  text-align: center;
}

#box {
  border: 2px solid;
  border-radius: 8px;
  width: 160px;
  height: 80px;
  margin: 0 auto;
  /* background: blue; */
}

#btn {
  margin: 16px auto 0;
  width: 60px;
  border: 2px solid red;
  border-radius: 6px;
}

#box.blue {
  background: blue;
}

#box.yellow {
  background: yellow;
}

#box.red {
  background: red;
}